<%- include('header') %>

<div class="container">
    <h2> Orders </h2>
    <% const unpaidUnattendedOrders = [];
       const attendedUnpaidOrders = [];
       const paidAndAttendedOrders = [];
       const remainingOrders = [];
       
       // Sort orders based on their status
       for (let i = 0; i < ordersindb.length; i++) {
           const order = ordersindb[i];
           if (!order.paid && !order.attended) {
               unpaidUnattendedOrders.push(order);
           } else if (!order.attended && order.paid) {
               attendedUnpaidOrders.push(order);
           } else if (order.attended && order.paid) {
               paidAndAttendedOrders.push(order);
           } else {
               remainingOrders.push(order);
           }
       }
       
       // Concatenate the sorted order arrays
       const sortedOrders = unpaidUnattendedOrders.concat(attendedUnpaidOrders, remainingOrders, paidAndAttendedOrders);
       
       // Render the sorted orders
       for (let i = 0; i < sortedOrders.length; i++) {
           const order = sortedOrders[i];
    %>
        <div class="order">
            <h3>Order ID: <%= order.Id %></h3>
            <p>Customer ID: <%= order.customerId %></p>
            <% if(order.table===-1){ %>
             <p> <button type="button" class="btn-info">Online</button></p>
             <p>  Delivery Address : <%= order.address %></p>
             <% } else { %>   
            <p>Table No: <%= order.table %></p>
            <%}%>
            <!-- Display other order details here -->
            <% for (let j = 0; j < order.items.length; j++) { %>
                <% if (order.items[j].quantity > 0) { %>
             Food id:<%= order.items[j].foodid %> x <%= order.items[j].quantity %> &nbsp 
            <% } } %>
            <p>Bill Amount Rs. <%=order.amount%></p>
            <!-- Mark as Paid button -->
            <% if (!order.paid) { %>
            <form action="/done/<%= order._id %>/paid" method="post">
                <button type="submit" class="btn btn-success">Mark as Paid</button>
            </form>
            <% } else { %>
                <button class="btn btn-secondary"> Paid</button>
            <% } %>

            <!-- Mark as Attended button -->
            <% if (!order.attended) { %>
                <form action="/done/<%= order._id %>/attended" method="post">
                    <button type="submit" class="btn btn-primary">Mark as Attended</button>
                </form>
            <% } else { %>
                <button class="btn btn-secondary"> Attended</button>
            <% } %>
        </div>
        <hr>
    <% } %>
</div>

</div>


<%- include('footer') %>
