
<%- include('header') %>
<!-- page to display the nutritional details of the queried item for staff-->

<div class="container">
<h1> nutrition information</h1>
    <ul>
        <li>Calories: <%= data[0].calories %> cal</li>
        <li>Serving Size: <%= data[0].serving_size_g %> g</li>
        <li>Total Fat: <%= data[0].fat_total_g %> g</li>
        <li>Saturated Fat: <%= data[0].fat_saturated_g %> g</li>
        <li>Protein: <%= data[0].protein_g %> g</li>
        <li>Sodium: <%= data[0].sodium_mg %> mg</li>
        <li>Potassium: <%= data[0].potassium_mg %> mg</li>
        <li>Cholesterol: <%= data[0].cholesterol_mg %> mg</li>
        <li>Total Carbohydrates: <%= data[0].carbohydrates_total_g %> g</li>
        <li>Fiber: <%= data[0].fiber_g %> g</li>
        <li>Sugar: <%= data[0].sugar_g %> g</li>
    </ul>
</div>
<%- include('footer') %>